$designate: #6699aa;

$designate-dark: #427B8E;
$designate-light: #98C0Ce;

$designate-darkest: #286377;
$designate-lightest: #CCE3EB;


.container {
  width: 95%;
  margin: 2.5% auto;
  background-color: #fff;
  
  @include desktop {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding: 50px;
  }
    
}
  
.item {
  width: 100%;
  height: 200px;

  @include desktop {
    height: 155px;
    width: 155px;
    margin-right: 15px;
  }

  &--1 {
    background-color: $designate-lightest;
  }

  &--2 {
    background-color: $designate-light;
  }

  &--3 {
    background-color: $designate;
  }

  &--4 {
    background-color: $designate-dark;
  }

  &--5 {
    background-color: $designate-darkest
  }
}  


.logo-presentation {
  width: 95%;
  margin: 2.5% auto;

  
  @include desktop {
    margin: 100px auto;
    width: 50%;
  }

  img {
    width: 100%;
  }
}