.hero-container {

    @include desktop {
        margin-bottom: 100px;
    }


    & .hero {
        height: calc(80vh - 75px);
        background-image: linear-gradient(
            to bottom,
            rgba(40,99,119, 0.80),
            rgba(255, 255, 255, 0.50)),
        url("../../assets/images/digital_compass-phone.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @include desktop {
            margin: 0 0 0 20%;
            width: 75%;
            height: 80vh;
            background-image: linear-gradient(
            to bottom,
            rgba(40,99,119, 0.80),
            rgba(255, 255, 255, 0.50)),
            url("images/digital_compass-desktop.jpg");
            box-shadow: 2px 3px 4px rgba(0, 0, 0, .3);
        }
    }

    & h1 {
        font-size: 2.5rem;
        position: absolute;
        text-align: center;
        margin-top: 10vh;

        @include tablet {
            font-size: 4rem;
        }

        @include desktop {
            font-size: 6rem;
            max-width: 40%;
            line-height: 1.0;
            text-align: left;
            left: 50px;
            bottom: 35vh;
        }
    }

    & .grey--background {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: #eee;
        height: 35%;
        width: 100%;

    }

}

.services-container {
    padding: 20px 0;
    width: 100%;
    background-color: #eee;

    & .container {
        width: 95%;
        margin: 0 auto;
        background-color: #eee;
        min-height: 400px;
        display: flex;
        flex-direction: column;

        @include tablet {
            width: 80%;
            justify-content: space-around;
            flex-direction: row;
        }

        @include desktop {
            width: 70%;
        }
    }

    & .item--services {
        background-color: #fff;
        width: 100%;
        padding: 20px;
        border-bottom: 5px solid $designate;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin: 10px 0;

        @include desktop {
            margin: 0 20px;
        }

        & img {
            width: 100%;
            margin-bottom: 10px;
        }

        & p {
            line-height: 1.50;
            padding-bottom: 20px;
        }

        & .btn--container {
            text-align: center;
        }
    }
}

.blog-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @include desktop {
        border: 1px solid $designate;
        display: grid;
        grid-template-rows: repeat(2, 300px);
        grid-template-columns: repeat(5, 1fr);
        width: 100%;
    }

    & .blog--item {
        background-color: #fff;
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
        border: 1px solid $designate;

        @include desktop {
            margin-bottom: 0;
            height: auto;
        }

        &-1 {
            @include desktop {
                grid-column: 1 / span 2;
            }
        }

        &-8 {
            @include desktop {
                grid-column: 4 / -1;
            }
        }
    }
}
