{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Gulp Demo </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0" />
    <!-- Define Charset -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Gurunow - online guru">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />
    <!-- <link href="static/scss/styles.scss" rel="stylesheet" type="text/css" /> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <script>
        $.ajaxSetup({
            data: {
              csrfmiddlewaretoken: '{{ csrf_token }}'
            }
        });
   </script>
  </head>
  <body>
      <noscript>
          <div class="alert alert-danger">
               It seems that javascript is disabled from your browser, Please enable javascript or change the browser for better performance.
          </div>
      </noscript>
      {% block pagecontent %}
      {% endblock %}
  </body>
  <!-- JS -->
</html>
