{% extends 'base.html' %}
{% load static %}
     {% block pagecontent %}
    <header class="header">
      <div class="logo-box">
        <img src="{% static 'images/name-only.png' %}" alt="designate Logo">
      </div>
    </header>
    <!-- <form action="{% url 'about' %}" method="POST" role="form">
        {% csrf_token %}
        {{ form }}
    </form> -->
    <section class=hero-container>
      <h1>Need a compass for the digital world?</h1>
      <div class="hero"></div>
      <div class="grey--background"></div>
    </section> <!--hero container end -->

    <section class="services-container">
      <div class="container">
        <div class="item--services item--services-1">
          <img src="https://via.placeholder.com/300x200" alt="">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi aliquid totam atque eius quas nesciunt pariatur saepe, deleniti nobis obcaecati ratione officia odio veniam placeat nemo vero nam doloribus laboriosam?</p>
          <div class="btn--container">
            <a href="" class="btn btn-full">Read more</a>
          </div>
        </div>

        <div class="item--services item--services-2">
          <img src="https://via.placeholder.com/300x200" alt="">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi aliquid totam atque eius quas nesciunt pariatur saepe, deleniti nobis obcaecati ratione officia odio veniam placeat nemo vero nam doloribus laboriosam?</p>
          <div class="btn--container">
            <a href="" class="btn btn-full">Read more</a>
          </div>
        </div>

        <div class="item--services item--services-3">
          <img src="https://via.placeholder.com/300x200" alt="">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi aliquid totam atque eius quas nesciunt pariatur saepe, deleniti nobis obcaecati ratione officia odio veniam placeat nemo vero nam doloribus laboriosam?</p>
          <div class="btn--container">
            <a href="" class="btn btn-full">Read more</a>
          </div>
        </div>
      </div>
    </section>

    <section class="blog-container">
      <div class="blog--item blog--item-1"></div>
      <div class="blog--item blog--item-2"></div>
      <div class="blog--item blog--item-3"></div>
      <div class="blog--item blog--item-4"></div>
      <div class="blog--item blog--item-5"></div>
      <div class="blog--item blog--item-6"></div>
      <div class="blog--item blog--item-7"></div>
      <div class="blog--item blog--item-8"></div>
    </section>

    <div class="color-palette">
      <a href="color_palette.html">Go to colorpalette</a>
    </div>
  {% endblock %}
