.container { width: 95%; margin: 2.5% auto; background-color: #fff; }

@media (min-width: 1200px) { .container { box-sizing: border-box; width: 50%; display: flex; justify-content: space-around; padding: 50px; } }

.item { width: 100%; height: 200px; }

@media (min-width: 1200px) { .item { height: 155px; width: 155px; margin-right: 15px; } }

.item--1 { background-color: #CCE3EB; }

.item--2 { background-color: #98C0Ce; }

.item--3 { background-color: #6699aa; }

.item--4 { background-color: #427B8E; }

.item--5 { background-color: #286377; }

.logo-presentation { width: 95%; margin: 2.5% auto; }

@media (min-width: 1200px) { .logo-presentation { margin: 100px auto; width: 50%; } }

.logo-presentation img { width: 100%; }

* { margin: 0; padding: 0; box-sizing: border-box; }

body { font-family: helvetica, sans-serif; color: #000; }

/************************
HEADER
************************/
header { width: 100%; height: 80px; }

@media (min-width: 1200px) { header { height: 100px; } }

.logo-box img { width: 200px; margin: 15px 10px; }

@media (min-width: 1200px) { .logo-box img { margin: 30px 25px; width: 500px; box-shadow: 0.5px 2px 2px rgba(40, 99, 119, 0.8); } }

/************************
Buttons
************************/
.btn { border: 2px solid #fff; border-radius: 5px; padding: 15px 25px; font-weight: bold; color: #fff; font-family: helvetica; }

.btn:link, .btn:visited { display: inline-block; padding: 14px 42px; text-decoration: none; border-radius: 5px; transition: background-color 1s, border 0.2s, color 0.2s; }

.btn-full:link, .btn-full:visited { background-color: #6a99aa; border: 1px solid #6a99aa; margin-right: 15px; }

.btn-ghost:link, .btn-ghost:visited { border: 1px solid #6a99aa; color: #6a99aa; }

.btn:hover, .btn:active { background-color: #cf6d17; }

.btn-full:hover, .btn-full:active { border: 1px solid #fff; background-color: #fff; color: #6a99aa; }

.btn-ghost:hover, .btn-ghost:active { border: 1px solid #6a99aa; background-color: #6a99aa; color: #fff; }

/*.container {
  background-color: #eee;
  width: 1000px;
  margin: 30px auto;

  display: grid;
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(3, 1fr);

  //grid-row-gap: 30px;
  //grid-column-gap: 30px;
  grid-gap: 30px;
}

.item {
  padding: 20px;
  font-size: 30px;
  font-family: sans-serif;
  color: #fff;

  &--1 {
    background-color: orangered;

    // grid-row-start: 2;
    // grid-row-end: 3;
    // grid-column-start: 2;
    // grid-column-end: 3;

    grid-row: 2 / 3;
    grid-column: 2 / 3;
    z-index: 10;
  }

  &--2 {
    background-color: yellowgreen;
    // Span number of cells
    //grid-column: 2 / span 3;

    //Use -1 for spaning row to last column.
    grid-column: 1 / -1;
  }

  &--3 {
    background-color: blueviolet;
    //Span cell over 1 columns(start 1 end 3)
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  &--4 {
    background-color: palevioletred;
  }

  &--5 {
    background-color: royalblue;
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    // grid-area: 1 / 2 / 3 / 4;
  }

  &--6 {
    background-color: goldenrod;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

}

*/
/*.container--grid-2 {
  background-color: #eee;
  width: 1000px;

  margin: 30px auto;

  display: grid;
  grid-template-rows: 100px 200px 400px 100px;
  grid-template-columns: repeat(3, 1fr) 200px;

  //grid-row-gap: 30px;
  //grid-column-gap: 30px;
  grid-gap: 30px;
}

.item-2 {
  padding: 20px;
  font-family: sans-serif;
  background-color: orangered;

  &--1 {
    grid-column: 1 / -1;
  }

  &--5 {
    grid-row: 2 / span 2;
    grid-column: 4 / 5;
  }

  &--6 {
    grid-column: 1 / span 3;
  }

  &--7 {
    grid-column: 1 / -1;
  }





}
*/
@media (min-width: 1200px) { .hero-container { margin-bottom: 100px; } }

.hero-container .hero { height: calc(80vh - 75px); background-image: linear-gradient(to bottom, rgba(40, 99, 119, 0.8), rgba(255, 255, 255, 0.5)), url("static/images/digital_compass-phone.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center; }

@media (min-width: 1200px) { .hero-container .hero { margin: 0 0 0 20%; width: 75%; height: 80vh; background-image: linear-gradient(to bottom, rgba(40, 99, 119, 0.8), rgba(255, 255, 255, 0.5)), url("images/digital_compass-desktop.jpg"); box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3); } }

.hero-container h1 { font-size: 2.5rem; position: absolute; text-align: center; margin-top: 10vh; }

@media (min-width: 800px) { .hero-container h1 { font-size: 4rem; } }

@media (min-width: 1200px) { .hero-container h1 { font-size: 6rem; max-width: 40%; line-height: 1.0; text-align: left; left: 50px; bottom: 35vh; } }

.hero-container .grey--background { position: absolute; bottom: 0; left: 0; z-index: -1; background-color: #eee; height: 35%; width: 100%; }

.services-container { padding: 20px 0; width: 100%; background-color: #eee; }

.services-container .container { width: 95%; margin: 0 auto; background-color: #eee; min-height: 400px; display: flex; flex-direction: column; }

@media (min-width: 800px) { .services-container .container { width: 80%; justify-content: space-around; flex-direction: row; } }

@media (min-width: 1200px) { .services-container .container { width: 70%; } }

.services-container .item--services { background-color: #fff; width: 100%; padding: 20px; border-bottom: 5px solid #6699aa; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; margin: 10px 0; }

@media (min-width: 1200px) { .services-container .item--services { margin: 0 20px; } }

.services-container .item--services img { width: 100%; margin-bottom: 10px; }

.services-container .item--services p { line-height: 1.50; padding-bottom: 20px; }

.services-container .item--services .btn--container { text-align: center; }

.blog-container { width: 95%; margin: 0 auto; display: flex; flex-direction: column; }

@media (min-width: 1200px) { .blog-container { border: 1px solid #6699aa; display: grid; grid-template-rows: repeat(2, 300px); grid-template-columns: repeat(5, 1fr); width: 100%; } }

.blog-container .blog--item { background-color: #fff; width: 100%; height: 200px; margin-bottom: 10px; border: 1px solid #6699aa; }

@media (min-width: 1200px) { .blog-container .blog--item { margin-bottom: 0; height: auto; } }

@media (min-width: 1200px) { .blog-container .blog--item-1 { grid-column: 1 / span 2; } }

@media (min-width: 1200px) { .blog-container .blog--item-8 { grid-column: 4 / -1; } }

/*# sourceMappingURL=styles.css.map */
