
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: helvetica, sans-serif;
  color: #000;
}

/************************
HEADER
************************/


header {
  width: 100%;
  height: 80px;

  @include desktop {
    height: 100px;
  }
}

.logo-box {
  
  & img {
    width: 200px;
    //border: 1px solid $designate;
    margin: 15px 10px;

    @include desktop {
      margin: 30px 25px;
      width: 500px;
      //border: 1px solid $designate;
      box-shadow: 0.5px 2px 2px rgba(40,99,119, 0.80);
    }
  }
}


/************************
Buttons
************************/

.btn {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 15px 25px;
  font-weight: bold;
  color: #fff;
  font-family: helvetica;
}

.btn:link, 
.btn:visited {
  display: inline-block;
  padding: 14px 42px;
  text-decoration: none;
  border-radius: 5px; 
  transition: background-color 1s, border 0.2s, color 0.2s;
}

.btn-full:link, 
.btn-full:visited {
  background-color: #6a99aa;
  border: 1px solid #6a99aa;
  margin-right: 15px;
}

.btn-ghost:link, 
.btn-ghost:visited {
  border: 1px solid #6a99aa;
  color: #6a99aa;
}

.btn:hover, 
.btn:active {
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #fff;
  background-color: #fff;
  color: #6a99aa;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #6a99aa;
  background-color: #6a99aa;
  color: #fff;
}

// .btn {
//   background-color: black;
//   display: inline-block;
//   padding: 20px 40px;
//   margin: 0 auto;
//   color: #fff;
//   text-decoration: none;
//   font-weight: bold;;
// }
