/*.container--grid-2 {
  background-color: #eee;
  width: 1000px;

  margin: 30px auto;

  display: grid;
  grid-template-rows: 100px 200px 400px 100px;
  grid-template-columns: repeat(3, 1fr) 200px;

  //grid-row-gap: 30px;
  //grid-column-gap: 30px;
  grid-gap: 30px;
}

.item-2 {
  padding: 20px;
  font-family: sans-serif;
  background-color: orangered;

  &--1 {
    grid-column: 1 / -1;
  }

  &--5 {
    grid-row: 2 / span 2;
    grid-column: 4 / 5;
  }

  &--6 {
    grid-column: 1 / span 3;
  }

  &--7 {
    grid-column: 1 / -1;
  }
  




}
*/