/*.container {
  background-color: #eee;
  width: 1000px;
  margin: 30px auto;

  display: grid;
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(3, 1fr);

  //grid-row-gap: 30px;
  //grid-column-gap: 30px;
  grid-gap: 30px;
}

.item {
  padding: 20px;
  font-size: 30px;
  font-family: sans-serif;
  color: #fff;

  &--1 {
    background-color: orangered;

    // grid-row-start: 2;
    // grid-row-end: 3;
    // grid-column-start: 2;
    // grid-column-end: 3;

    grid-row: 2 / 3;
    grid-column: 2 / 3;
    z-index: 10;
  }

  &--2 {
    background-color: yellowgreen;
    // Span number of cells
    //grid-column: 2 / span 3;

    //Use -1 for spaning row to last column.
    grid-column: 1 / -1;
  }

  &--3 {
    background-color: blueviolet;
    //Span cell over 1 columns(start 1 end 3)
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  &--4 {
    background-color: palevioletred;
  }

  &--5 {
    background-color: royalblue;
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    // grid-area: 1 / 2 / 3 / 4;
  }

  &--6 {
    background-color: goldenrod;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

}

*/
